pony==0.7.17 # Pony ORM for the databases

pandas==2.1.1 # Pandas to handle the data
openpyxl==3.1.2 # Openpyxl to handle the Excel files
tabulate==0.9.0 # Tabulate to print the data in a table

PySimpleGUI==4.60.5 # PySimpleGUI to power the GUI interface
pylnk3==0.4.2 # For creating the shortcut lnk file for backups

ruff==0.3.2 # Ruff to format and check our files for errors [DEV]
pre-commit # To make sure ruff formats our files and checks for errors before committing [DEV]